/* ! - - - Calendar Elements - - - */
	table.calendarTable {
		width: 98%;  
		border: none; 
		border-collapse: collapse; 
	}
		table.calendarTable th { }
			table.calendarTable th a {
				color: crimson; 
				text-decoration: none; 
				border: none;
				font-size: 1.2em; 
				font-weight: bolder; 
			}
			table.calendarTable th a:hover { color: #000; }
			table.calendarTable th h3 {
				font-size: 1.35em; 
				text-align: center; 
			}
		table.calendarTable td {
			width: 14%; /* no width will make the cells collapse */
			padding: 2px 3px 4px 3px; 
			border-width: 0 1px 1px 1px; 
			border-style: solid; 
			border-color: #666 #999 #999 #ccc; 
		}
			table.calendarTable td.calendarHeader {
				background-color: #ddd; 
				color: #000; 
				letter-spacing: 1px; 
				text-transform: uppercase; 
			}
			table.calendarTable td.calendar { font-weight: bold; }
			table.calendarTable td.calendarToday {
				background-color: #ffb; 
				color: crimson; 
			}
		table.calendarTable td a { 
			display: block; 
			font-weight: normal; 
			padding: 2px 2px 0px 2px; 
			border-top: 1px solid #8cf; 
			background-color: #def; 
			text-decoration: none; 
		}
			table.calendarTable td a:hover { background-color: #cde; margin-bottom: 10px; }
	
	#eventdateselects { background-color: #def; }
		#notdates { display: inline-block; padding: 0 0 6px 10px; }
		#notdates label a { color: crimson; text-decoration: none; }
		#notdates label a:hover { color: #000; }
		
	#recurrence_rules table {
		background-color: #fff; 
		border-top: 1px solid #ccc; 
		border-left: 1px solid #ccc; 
		border-bottom: 1px solid #ccc; 
		margin: 0 0 15px 0; 
	}
	#recurrence_rules table th, #recurrence_rules table td {
		padding: 0 2px; 
		border-right: 1px solid #ddd; 
	}
	#recurrence_rules table td {
		border-top: 1px solid #ccc; 
	}
	
	/* For Event Types */
	.colorselected { display: block; height: 36px;  }
	ul#list_items li .colorpreview { display: inline-block; width: 120px; padding: 3px 5px 1px 5px; }